body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.sessions {
  .actions { float: right; margin: 5px }
  li { list-style-type: none; margin-bottom: 5px; padding: 5px }

  .session {
    border-radius: 5px;
    border: 1px solid #999;
  }
}

.sessions {
  .now {
    .timer {
      font-size: 50px;
      float: right;
    }
    .title {
      clear: both;
      padding-top: 250px;
      font-size: 100px;
      text-align: center;
    }
    .name {
      text-align: right;
      font-size: 20px;
      font-style: italic;
      margin-top: 50px;
    }
  }

  .on-deck {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #999;
    position: fixed;
    width: 960px;
    height: 80px;
    background-color: #ccc;
    bottom: 0;
    font-size: 20px;
    padding: 10px;

    .title {
      padding-top: 20px;
      font-size: 50px;
      text-align: center;
    }

    .name {
      text-align: right;
      font-size: 20px;
      font-style: italic;
    }
  }
}

#sit-down {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  font-size: 50px;
  line-height: 50px;
  font-family: monospace;
  padding-top: 200px;
  text-align: center;
}

body.warning {
  background-color: red;
  -moz-transition-property: background-color;
  -moz-transition-duration: 30s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 30s;
  -o-transition-property: background-color;
  -o-transition-duration: 30s;
  -ms-transition-property: background-color;
  -ms-transition-duration: 30s;
  transition-property: background-color;
  transition-duration: 30s;
}
